:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --logo-color: #000000;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

/* Лого */

.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--accent-color);
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo.top {
  color: var(--logo-color);
}

.logo.bottom {
  color: var(--primary-white-color);
}

/* Навигация */

.site-nav.list,
.cont-nav.list {
  list-style: none;
}

.site-nav .link,
.cont-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}

.cont-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.link.current,
.cont-nav .link:focus,
.cont-nav .link:hover,
.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-color);
}

/* Футер */

.page-footer {
  background-color: var(--footer-background-color);
}

.contacts-list,
.features-list,
.about-list,
.team-list,
.filter,
.portfolio {
  list-style: none;
}

.contacts-list .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: var(--secondary-white-color);
}

.link.map {
  color: var(--primary-white-color);
}

/* Герой */

.hero {
  background-color: var(--footer-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* Наши преимущества */

.features-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-list .text {
  font-size: 14px;
  line-height: 1.71;
}

/* Чем мы занимаемся */

.about-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

/* Наша команда */

.team {
  background-color: var(--secondary-background-color);
}

.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Портфолио */

.filter-selection {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  letter-spacing: 0.03em;
  cursor: pointer;
}

.filter-selection:focus,
.filter-selection:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio .link {
  text-decoration: none;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
